@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito Sans", sans-serif;
    background-color: #183D3D;
    height: 100vh;
}
.card{
    background-color: #fff;
    width: 600px;
    /* height: 350px; */
    height: fit-content; 
    border-radius: 10px;
    /* Using margin: auto to center a div */
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px ;
    /* Abeg no touch this code */
    /* margin-left: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 200px; */

    /* margin: 200px; */
    /* margin: 200px 150px 200px 150px; */
}
/* ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* border-width: 5px;
    border-style: dashed;
    border-color: blue; */
 /* border: 2px solid blue;
    height: 100px;
    justify-content: center;
    align-items: center;
} */

.imgCtn{
    width: 540px;
    /* height: 200px; */
    border-radius: 10px;
}
.imgCtn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.description h2{
    color: #444;
    font-size: 32px;
    font-weight: 800;
    margin: 20px 0 10px;
}
.description p{
    font-size: 14px;
}
.preptime{
    background-color: #fff5fa;
    padding: 22px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Tinos", serif;
    
    
}
.preptime p{
    padding-bottom: 12px;
    color: #800000;
    font-weight: 700;
    padding-left: 1px;

}
.flist{
    padding-left: 20px;
    color: #4a4643;
}
span{
    font-weight: 600;
}
.fuli{
    padding: 4px 3px;
}
.Ingredients{
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.Ingredients h3{
    color: #800000;
}
.slist{
    padding: 20px 0 10px 20px;
}
.seli{
    padding: 4px 7px;
}
hr{
    margin: 15px;
    color: #F5F7F8;
    opacity: 0.2;
    
}

.instructions{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.instructions h3{
   margin: 0 0 10px 5px;
   font-weight: 900;
   color: #800000;
}
#tlist{
    margin-left: 10px;
    padding: 10px;
}
.thdli{
    padding: 4px 7px;
}
strong{
    /* opacity: 0.8; */
    color: #4a4643;
}

#nutrition{
    padding-top: 15px;
}
#nutrition h3{
    color: #800000;
}
#nutripara{
    font-size: 14px;
    opacity: 0.5;
    padding: 15px 0 20px 0;
}
/* .nutriflex{
    display: flex;
    padding: px;
}
#nutriname{
   margin-left: 60px;
   font-weight: 350;
   
}
.nutrivalue{
    margin-left: 50px;
    font-weight: 600;
    
}
.nutriline{
    width: 400px;
} */
table {
    border-collapse: collapse;
    display: flex;
    gap: 100px;
}
#nutridiv{
    margin-left: 55px;
}

.row1{
    padding-left: 15px;
    border-bottom: 1px solid;
    padding: 20px 0 20px 0;
    
   
}
.row2{
   padding-left: 230px;
   border-bottom: 1px solid;
   padding-bottom: 1px;
   
}
span{
    color: #800000;
    font-weight: 700;
}


